# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
total_quantity = pd.DataFrame()

In [5]:
total_quantity = data.groupby(['CustomerID', 'ProductName'])['Quantity'].sum().reset_index()

In [6]:
total_quantity

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [9]:
products = pd.pivot_table(total_quantity, index='ProductName',values='Quantity',\
                          columns='CustomerID', fill_value=0)
products.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [11]:
distancias=squareform(pdist(products.T, 'euclidean'))
similitud=pd.DataFrame(1/(1+distancias), index=products.columns, columns=products.columns)
similitud.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [42]:
the_top=similitud[264].sort_values(ascending=False)[:5].index.tolist()
the_top

[264, 1008, 2617, 1072, 33]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [63]:
locked = total_quantity[total_quantity['CustomerID'].isin(the_top)]
locked.head()

   CustomerID                    ProductName  Quantity
0          33               Apricots - Dried         1
1          33              Assorted Desserts         1
2          33        Bandage - Flexible Neon         1
3          33  Bar Mix - Pina Colada, 355 Ml         1
4          33         Beans - Kidney, Canned         1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [32]:
ranked= locked.groupby('ProductName').sum().sort_values(by='Quantity', ascending=False)
ranked.head()

                               CustomerID  Quantity
ProductName
Lettuce - Spring Mix                 2914         4
Potatoes - Idaho 100 Count           3922         4
Mushrooms - Black, Dried             2881         4
Wine - Blue Nun Qualitatswein        2344         3
Wine - Chablis 2003 Champs           3889         3

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [60]:
#products, ranked
the_rec = pd.merge(ranked, products, on='ProductName')
the_rec[264].sort_values().head()

ProductName
Squid - Tubes / Tenticles 10/20    0
Cheese - Parmesan Grated           0
Browning Caramel Glace             0
Butter - Unsalted                  0
Cake - Mini Cheesecake             0
Name: 264, dtype: int64

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [72]:
recommendations={}
unique_customers = data['CustomerID'].unique().tolist()
for i in unique_customers:
    the_top=similitud[i].sort_values(ascending=False).index.tolist()
    locked = total_quantity[total_quantity['CustomerID'].isin(the_top)]
    ranked= locked.groupby('ProductName').sum().sort_values(by='Quantity', ascending=False)
    the_rec = pd.merge(ranked, products, on='ProductName')
    recommendations[i]=the_rec[i].sort_values().head().index

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [74]:
rec_df=pd.DataFrame(recommendations)
rec_df.head()

,61288,77352,40094,23548,78981,83106,11253,35107,15088,26031,...,25270,17390,97029,38154,74403,49005,41286,85878,68506,3472
0,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,...,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,Cookies - Assorted,Cheese - Cottage Cheese,Cookies - Assorted,Cheese - Cottage Cheese,Cookies - Assorted,Cookies - Assorted
1,Liners - Baking Cups,"Pasta - Detalini, White, Fresh",Blackberries,Arizona - Green Tea,Sardines,Tomato - Tricolor Cherry,Arizona - Green Tea,Wine - Chablis 2003 Champs,Wine - Chablis 2003 Champs,"Potatoes - Instant, Mashed",...,Blackberries,Wine - Toasted Head,Jolt Cola - Electric Blue,Arizona - Green Tea,Blackberries,Wine - Prosecco Valdobiaddene,Jolt Cola - Electric Blue,Appetizer - Mushroom Tart,Wine - Magnotta - Cab Sauv,Jolt Cola - Electric Blue
2,Bread Crumbs - Panko,Fondant - Icing,Sardines,Cheese - Camembert,Arizona - Green Tea,"Nut - Pistachio, Shelled","Potatoes - Instant, Mashed",Wine - Prosecco Valdobiaddene,Wine - Prosecco Valdobiaddene,Cheese - Camembert,...,Sardines,Appetizer - Mushroom Tart,Blackberries,"Potatoes - Instant, Mashed",Wine - Toasted Head,"Pasta - Detalini, White, Fresh",Blackberries,Arizona - Green Tea,"Thyme - Lemon, Fresh",Blackberries
3,Wine - Magnotta - Cab Sauv,Browning Caramel Glace,Wine - Toasted Head,Tomato - Tricolor Cherry,"Potatoes - Instant, Mashed",Wine - Chablis 2003 Champs,Cheese - Camembert,"Pasta - Detalini, White, Fresh","Pasta - Detalini, White, Fresh",Tomato - Tricolor Cherry,...,Wine - Toasted Head,Arizona - Green Tea,Sardines,Cheese - Camembert,Appetizer - Mushroom Tart,Fondant - Icing,Sardines,"Potatoes - Instant, Mashed",Jolt Cola - Electric Blue,Sardines
4,"Thyme - Lemon, Fresh","Beer - Alexander Kieths, Pale Ale",Appetizer - Mushroom Tart,"Nut - Pistachio, Shelled",Cheese - Camembert,Wine - Prosecco Valdobiaddene,Tomato - Tricolor Cherry,Fondant - Icing,Fondant - Icing,"Nut - Pistachio, Shelled",...,Appetizer - Mushroom Tart,"Potatoes - Instant, Mashed",Wine - Toasted Head,Tomato - Tricolor Cherry,Arizona - Green Tea,Browning Caramel Glace,Appetizer - Mushroom Tart,Cheese - Camembert,Blackberries,Wine - Toasted Head

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.